# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,.railway.app,midpointschool.online,www.midpointschool.online

# Database
# If using Railway's PostgreSQL, this will be provided automatically as DATABASE_URL
DATABASE_URL=postgres://neondb_owner:npg_Gjoda1fZA4bp@ep-nameless-paper-abmn3lph-pooler.eu-west-2.aws.neon.tech:5432/neondb
