# Django Core
Django==4.2.29
asgiref==3.9.1
sqlparse==0.5.3

# Database
dj-database-url==3.1.0
psycopg2-binary==2.9.11

# Production & Static Files
gunicorn==23.0.0
whitenoise==6.11.0

# Environment & Security
python-dotenv==1.2.2
bcrypt==5.0.0

# Utils & Libraries
pillow==12.1.1
pytz==2025.2
python-dateutil==2.9.0.post0
requests==2.32.5
PyYAML>=6.0.1
